$white = #fff
@import './light.styl'

#app
	$white = #000
	@import './dark.styl'

// @media screen and (min-width: 640px)

// isDarkModeEnabled = useShortNames ? '[class*="mobile-",class*="m-"]' : '[class*="mobile-"]'
// @import './dark.styl'
