$white = #fff;

$router-link-color = $white;

$vue-blue = #31485f
$vue-green = #00c086

$active-router-link-color = $vue-green;
$link-color = #42b983;
$text-color = #2c3e50;

$header-footer-background-color = $vue-blue

$active-floating-label-color = #0074d9;

// https://www.w3schools.com/w3css/w3css_color_generator.asp
$button-background-color = #4287f5
$button-background-color-disabled = #8eb7f9
$button-background-color-hover = #0c62ec

$board-border = #592720;
$board-dark-square = chocolate;
$board-light-square = sandybrown;
// $board-light-square = grey;

$chess-piece-white = #fff;
$chess-piece-black = #000;